<h3>Deck:</h3>

<div class="card deck">
  Deck
</div>

<% if @player && @player.deck_cards.size > 0 %>
  <div class="card <%= @game.turns.last.deck_card.suit %> value<%= @game.turns.last.deck_card.value %> face-up" href="/games/<%= @game.id %>/players/<%= @player.id %>/turns">
    <%= @game.turns.last.deck_card.value %> <%= @game.turns.last.deck_card.suit %>
  </div>
<% end %>
