<% if @player.deck_cards.size > 0 %>
  <h3>Your cards:</h3>

  <% @player.deck_cards.each do |deck_card| %>
    <div class="card <%= deck_card.suit %> value<%= deck_card.value %> hand">
      <%= deck_card.value %> <%= deck_card.suit %>
    </div>
  <% end %>
<% else %>
  <%= link_to "Deal Cards", deal_game_path(@game) %>
<% end %>
